~*
.DS_Store
*.swp
.idea/
.vscode/

*.pyc

.coverage
.coverage.*
.cache
.pytest_cache
pip-wheel-metadata/

.ipynb_checkpoints/

dist/*
build/*
*.egg-info
MANIFEST
.eggs/

# Ignore intermediate results from full_application
examples/full_application/batches/
examples/full_application/output/

