setuptools>=41.2
numpy>=1.19
xarray>=0.16.2
pandas>=1.1
xesmf>=0.5.0
zarr>=2.4
dask>=2020.12.0
arm_pyart>=1.12.2
requests>=2.25.1
numba>=0.54.1
scikit-learn
joblib
tqdm
s3fs
fsspec
geopandas>=0.9.0
pyproj>=3.0.1
